body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.player {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.artist {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 10px;
}

.progress {
    width: 100%;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #aaa;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.play {
    font-size: 36px;
}

.active {
    color: #1db954;
}

.playlist {
    margin-top: 25px;
}

.track {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #222;
}

.track span {
    cursor: pointer;
}

.equalizer {
    margin-top: 25px;
}

.equalizer label {
    display: block;
    font-size: 13px;
    color: #aaa;
    margin-top: 10px;
}

.equalizer input {
    width: 100%;
}

#visualizer {
    position: fixed;
    inset: 0;
    z-index: 0;
    background: radial-gradient(circle at center, #1db95422, #121212 70%);
}

.player {
    position: relative;
    z-index: 2;
}

.menu {
    position: relative;
    z-index: 3;
    background: rgba(18,18,18,0.9);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 15px;
}


.menu input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #282828;
    color: white;
    margin-bottom: 10px;
}


.library h3 {
    margin: 15px 0 5px;
    font-size: 14px;
    color: #aaa;
}

.artist,
.song {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    color: white;
}

.artist:hover,
.song:hover {
    background: #1e1e1e;
}


